<p>Przewidywane kolizje</p>

<table align=center>
<tr>
<th>Dzień </th><th>Godzina</th><th>Grupa</th><th>Sala</th>
</tr>
<% for i in @wynik %>
 <tr>
 <td><%=  i.dni %></td><td> <%= (i.godz.to_i / 60)%></td><td><%= i.grupa %></td><td><%= i.sala %></td>
</tr>
<% end %>
</table>
