<br />
<p> Obłożenie sal wykładowych </p>

<table align="center" border="1">
	<th>Sala</th><th>Poniedziałek</th><th>Wtorek</th><th>Środa</th><th>Czwartek</th><th>Piątek</th>
  <% for i in @salewykladowe %>
	<tr><td><%= i.numer%></td>
		<% for d in @dd %>
		 <td> <% if !@bloki[d][i.numer.to_s].nil? %>
				<% for a in  @bloki[d][i.numer.to_s] %> 
						<%= a.dlugosc %>
				<% end %>
			<% end %>
	   </td>
	  <% end %>
  </tr>
  <% end %>
</table>
<br />
