<div class="main-control-panel">
  <%= render :partial => "common/timetable-forms" %>
  <br>
  <div class="warning">
    !! PLAN ZAJĘĆ ZAMIESZCZONY NA STRONIE MOŻE ULEC ZMIANIE !!
  </div>
  <br>
</div>
