# Ignore bundler config
.bundle

# Ignore the default SQLite database.
db/*.sqlite3

# Ignore all logfiles and tempfiles.
log/*.log
tmp/
public/assets
config/database.yml
config/initializers/errbit.rb
config/initializers/devise.rb
config/initializers/secret_token.rb
