<% if can? :read, :pyrite_dashboard %>
  <% content_for :top_menu do %>
    <%= link_to t("pyrite.control_panel"), pyrite.dashboard_index_path, :class => "inline-icon-manage" %>
  <% end %>

  <div class="col-md-10">
    <div class="dashboard-section">
      <div class="section-header">
        <h4> <%= t("pyrite.title_system_name") %> </h4>
        <div class="clearfix"></div>
        <hr>
      </div>
      <div class="subsection">
        <ul>
          <li> <%= t("pyrite.dashboard.current_academic_year.for_viewing", :academic_year => AcademicYear.for_viewing.name) %></li>
          <li> <%= t("pyrite.dashboard.current_academic_year.for_editing", :academic_year => AcademicYear.for_editing.name) %></li>
        </ul>
      </div>
      <hr>
    </div>
  </div>
<% end %>
