/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require pyrite/busybox
*= require pyrite/fullcalendar/fullcalendar
*= require pyrite/fullcalendar_custom
*= require pyrite/bootstrap-datetimepicker
*= require pyrite/chosen.bootstrap
*= require pyrite/base
*= require pyrite/pyrite
*= require pyrite/select2
*= depend_on_asset "pyrite/test_badge.png"
*= depend_on_asset "pyrite/chosen-sprite.png"
*= depend_on_asset "pyrite/select2-spinner.gif"
*= depend_on_asset "pyrite/select2x2.png"
*= depend_on_asset "pyrite/select2.png"
*/

#test-badge {
  z-index: 9999!important;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 150px;
  height: 140px;
  background-image: image-url("pyrite/test_badge.png");
}
