//= depend_on_asset "pyrite/logo.png"


@import "variables.css.scss";

.navbar > .container .navbar-brand {
  background: image-url("pyrite/logo.png") left no-repeat;
  width: 220px;
  position: relative;
  margin: 0px; padding: 0px;
  margin-right: 10px;
  height: 58px;
  bottom: 0px;
}

.navbar > .container .navbar-header > div {
  float: left;
  line-height: 38px;
  border-left: 1px solid $pink;
  margin: 10px 0px;
  padding-left: 15px;
  color: white;
}

.nav-system-panel {
  width: 30%;
  float: left;
  margin: 10px;
}

.fc-event-container, .chosen-single {
  a { text-decoration: none; color: #fff; padding-bottom: 0.1em; }
  a:link { border-bottom: 0px; }
  a:hover { border-bottom: 0px; }
}
