$('#groups-timetable').html('');
var options = {
  <%= render :partial => "common/timetable_options" %>
  eventRender: function(event, element) {
    element.children(".fc-event-inner").append("<div class='fc-event-block-type'>" + event.block_type + "</div>")
    element.children(".fc-event-inner").append("<div class='fc-event-room-name'>" + event.room_name + "</div>")
    element.children(".fc-event-inner").append("<div class='fc-event-lecturer'>" + event.lecturer + "</div>")
  },
  eventAfterAllRender: function(event, element) {
    var current_date = $("#block_day_with_date").val();
    var is_visible = $("#block_day_with_date").is(":visible")
    if ( current_date.length > 0 && is_visible ) {
      var block_date = $.fullCalendar.parseDate( current_date )
      $("#groups-timetable").fullCalendar('gotoDate', block_date);
    }
  }
}

$('#groups-timetable').fullCalendar_with_defaults(options);
