var groups_timetable = $("#groups-timetable");
<% unless @reset_date %>
  try {
    current_date = groups_timetable.fullCalendar('getDate');
  } catch (error) {
    /* fullCalendar was not initialized yet */
  }
<% end %>

groups_timetable.html('');
var options = {
  <%= render :partial => "pyrite/common/timetable_options" %>
  eventRender: function(event, element) {
    element.children(".fc-event-inner").append("<div class='fc-event-block-type'>" + event.block_type + "</div>")
    element.children(".fc-event-inner").append("<div class='fc-event-room-name'>" + event.room_name + "</div>")
    element.children(".fc-event-inner").append("<div class='fc-event-lecturer'>" + event.lecturer + "</div>")
  }
}

groups_timetable.fullCalendar_with_defaults(options);
<% unless @reset_date %>
  if ( current_date instanceof Date ) {
    groups_timetable.fullCalendar('gotoDate', current_date);
  }
<% end %>
