Common: &common
  adapter: postgresql
  encoding: utf-8
  host: localhost
  pool: 5
  username: postgres
  password: pass
  template: postgres

development:
  <<: *common
  database: siatka_demo_development

test:
  <<: *common
  database: siatka_demo_test

production:
  <<: *common
  database: siatka_demo_production

