$('#room-timetable').html('');

var options = {
  <%= render :partial => "common/timetable_options" %>
  eventRender: function(event, element) {
    element.children(".fc-event-inner").append("<div class='fc-event-block-type'>" + event.block_type + "</div>")
    element.children(".fc-event-inner").append("<div class='fc-event-groups-names'>" + event.groups_names + "</div>")
    element.children(".fc-event-inner").append("<div class='fc-event-lecturer'>" + event.lecturer + "</div>")
  }
}

$('#room-timetable').fullCalendar_with_defaults(options);
var current_date = "<%= @current_date %>";
if ( current_date.length > 0 ) {
  var block_date = $.fullCalendar.parseDate( current_date )
  $("#room-timetable").fullCalendar('gotoDate', block_date);
}
