var room_timetable = $('#room-timetable');
try {
  current_date = room_timetable.fullCalendar('getDate');
} catch (error) {
  /* fullCalendar was not initialized yet */
}

room_timetable.html('');
var options = {
  <%= render :partial => "common/timetable_options" %>
  eventRender: function(event, element) {
    element.children(".fc-event-inner").append("<div class='fc-event-block-type'>" + event.block_type + "</div>")
    element.children(".fc-event-inner").append("<div class='fc-event-groups-names'>" + event.groups_names + "</div>")
    element.children(".fc-event-inner").append("<div class='fc-event-lecturer'>" + event.lecturer + "</div>")
  }
}

room_timetable.fullCalendar_with_defaults(options);
if ( current_date instanceof Date ) {
  room_timetable.fullCalendar('gotoDate', current_date);
}
