@import "twitter/bootstrap/bootstrap";
@import "twitter/bootstrap/responsive";

.show-timetable-form {
  .form-horizontal
}

body { text-align: center; }

.logo { /* float: left;*/ }

#topmenu {
  background-color: #f5f5e9;
  color: black;
  text-align: center;
  height: 170px;
  padding-top: 5px;
  font: small-caps 14px serif;
  border-collapse: collapse;
  border: 0px solid #000;
}

.button {
   background:  #EAE8D7;
   color: black;
   width: 200px;
   margin-left: 2px;
	 margin-top:  6px;
   border-collapse: collapse;
   border: 1px solid #000000;
}

.button:hover {
  border: 1px solid red;
}

#main {
background-image: url("");
background-repeat: repeat-x;
background: #fff;
color: black;
/*margin-left: 14em;*/
padding-top: 4ex;
width: 100%;
min-height: 100px ;
/* Aby działało rozciąganie maina poniżej ie 7*/
/*_height:expression(this.clientHeight<500 ? '500px' : 'auto');*/
}

.warning {
  background: #fff95a;
  color: black;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid red;
  width: 600px;
  padding: 10px;
  font-size: small;
  height: auto;
}


#stopka {
text-align: center;
height: auto;
padding-top: 5px;
padding-right: 10px;
font: small-caps 14px serif;
color: #000;
}

#footer_bg {
	margin-top: 20px;
	border-top: 1px solid #999;
	background: #EBE9DB;
	padding: 5px 0px;
	border-bottom: 5px solid #666;
}

#menu_container{
	background: #FFF;
	border: 1px solid #EAE8D7;
	padding: 2px;
	margin-bottom:15px;
  font-weight: bold;
}

ul#menu {
	margin: 0;
	padding: 0;
}

ul#menu li {
	border-right: dotted 1px #333;
	display: block;
	float: left;
}

ul#menu li a {
	padding:5px 15px;
	display: block;
	color: #000;
	text-decoration: none;
}
ul#menu li a:hover {
	background: #F5F5E9;
	text-decoration: underline;
}
ul#menu li  .selected{
	background: #F5F5E9;
}

#zest1 { width: 1000px}
#zest1 .title { border-bottom: 1px solid #000; background-color: #A6A2A2;}
.group_name td {background-color: #B8D5D7; border-bottom: 2px solid #000; font-size: 15px; text-align:center}

#settings-container, #user-account-container {width: 500px; margin: 0px auto;}
