@import "vendor/assets/twitter/bootstrap/less/bootstrap";

#header { margin-top: 10px; background-color: #f5f5e9;}
#header-content { width: 800px; height: 120px; margin: auto; }
#header-title { width: 700px; float: right; height: 105px; margin-top: 10px; }
#header-logo { display: block; width: 100px; height: 105px; background-image: url("pyrite_large.png"); background-repeat: no-repeat; float: left;}

.form-group select,
.form-group textarea,
.form-group input[type=text] {
    .form-control
}

.form-group textarea {
  height: 100px;
}

#new_block div.action,
#reservation-form div.action{
  text-align: center;
}

.submit-btn {
  .btn;
  .btn-default;
}

#edit_academic_year_event {
 margin: 10px;
}
.print-table-form, .show-timetable-form,
#new_building, #new_room, #new_settings,
#new_lecturer, .edit_building, .edit_room,
.edit_lecturer, #new_academic_year,
.edit_academic_year, #edit_academic_year_event,
.edit_block {
  .form-horizontal;
}

#new_settings .form-group label {
  .form-horizontal > .control-label;
  width: 30%;
  float: left;
}

#new_settings .form-group div  {
  width: 70%;
  float: left;
}

#new_settings div {
  text-align: center;
}

#new_building .form-group label,
.edit_building .form-group label,
#new_room .form-group label,
.edit_room .form-group label,
#new_lecturer .form-group label,
.edit_lecturer .form-group label,
#new_academic_year .form-group label,
.edit_academic_year .form-group label,
#edit_academic_year_event .form-group label,
.edit_block .form-group label {
  .form-horizontal > .control-label;
  width: 40%;
  float: left;
}

#new_building .form-group > div,
.edit_building .form-group > div,
#new_room .form-group > div,
.edit_room .form-group > div,
#new_lecturer .form-group > div,
.edit_lecturer .form-group > div,
#new_academic_year .form-group > div,
.edit_academic_year .form-group > div,
#edit_academic_year_event .form-group > div,
.edit_block .form-group > div {
  width: 60%;
  float: left;
}

.nav-system-data, .nav-system-settings, .nav-system-timetable {
  width: 30%;
  float: left;
  margin: 10px;
}

.nav-system-timetable ul, .nav-system-settings ul, .nav-system-data ul {
  .nav-pills;
  .nav;
  .nav-stacked;
}


#main {
  background: #fff;
  color: black;
  padding-top: 4ex;
  width: 100%;
  min-height: 100px ;
}

#stopka {
text-align: center;
height: auto;
padding-top: 5px;
padding-right: 10px;
font: small-caps 14px serif;
color: #000;
}

#footer_bg {
	margin-top: 20px;
	border-top: 1px solid #999;
	background: #EBE9DB;
	padding: 5px 0px;
	border-bottom: 5px solid #666;
}

#menu_container{
	background: #FFF;
	border: 1px solid #EAE8D7;
  font-weight: bold;
  height: 30px;
}

ul#menu {
	margin: auto;
  width: 800px;
	padding: 0;
}

ul#menu li {
	border-right: dotted 1px #333;
	display: block;
	float: left;
}

ul#menu li a {
	padding:5px 15px;
	display: block;
	color: #000;
	text-decoration: none;
}
ul#menu li a:hover {
	background: #F5F5E9;
	text-decoration: underline;
}
ul#menu li  .selected{
	background: #F5F5E9;
}

@import "chosen/bootstrap/bootstrap-chosen";
